@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,700&display=swap');

.bg-pattern {
  background-color: #f7fafc;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23805ad5' fill-opacity='0.05' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.bg-indigo-transparent {
  background-color: rgba(235, 244, 255, 0.6);
}

/* animations */
.slide {
  -webkit-animation-name: slide;
  animation-name: slide;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* MDX styles */
/* https://github.com/iandinwoodie/github-markdown-tailwindcss/blob/master/markdown.css */
.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.markdown {
  @apply text-gray-900 break-words leading-relaxed font-ibm;
}

.markdown > * + * {
  @apply mt-0 mb-4;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown em {
  @apply text-xs;
}

.markdown a {
  @apply text-indigo-600 font-semibold;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply leading-loose border-b text-4xl .text-gray-900 font-semibold mb-4 mt-6 pb-2;
}

.markdown h2 {
  @apply leading-loose border-b text-2xl .text-gray-900 font-semibold mb-4 mt-6 pb-2;
}

.markdown h3 {
  @apply leading-snug text-lg  .text-gray-900 font-semibold mb-4 mt-6;
}

.markdown h4 {
  @apply leading-none text-base .text-gray-900 font-semibold mb-4 mt-6;
}

.markdown h5 {
  @apply leading-tight text-sm .text-gray-900 font-semibold mb-4 mt-6;
}

.markdown h6 {
  @apply leading-tight text-sm .text-gray-900 font-semibold mb-4 mt-6;
}

.markdown p {
  @apply text-lg;
}

.markdown blockquote {
  @apply text-base border-l-4 border-gray-300 pl-4 pr-4 text-gray-600;
}

.markdown code {
  @apply text-lg font-ibm inline bg-gray-200 rounded px-1 py-05;
}

.markdown pre {
  @apply bg-gray-100 rounded p-4;
}

.markdown pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

.markdown ul {
  @apply text-base pl-8 list-disc;
}

.markdown ol {
  @apply text-base pl-8 list-decimal;
}

.markdown kbd {
  @apply text-xs inline-block rounded border px-1 py-05 align-middle font-normal shadow;
}

.markdown table {
  @apply text-base border-gray-600;
}

.markdown th {
  @apply border py-1 px-3;
}

.markdown td {
  @apply border py-1 px-3;
}

/* Override pygments style background color. */
.markdown .highlight pre {
  @apply bg-gray-100 !important;
}

@screen lg {
  .markdown {
    @apply leading-loose;
  }
  .markdown p {
    @apply text-xl;
  }
}
